doctype html
html(lang="en")
	head
		title Andrew(Mingbo) Gu | Software Engineer & Student
		link(rel='stylesheet', href='./dist/library.css')
	body
		#container
			#name
				h1 Andrew Gu
			#menu
				ul
					li
						a(href='./dist/html/home.html') Home
					li
						a(href='./dist/html/about.html') About
					li
						a(href='./dist/html/contact.html') Contact
					li
						a(id='resume', href='./dist/andrew_gu_resume.pdf') Resume
			#content		
				include ./jade/home.jade					
		script(src='./dist/library.js')