div#home-content {
  h1 {
    font-size: 6rem;
    font-weight: 300;
    margin: 0;
    line-height: 6rem;
  }
  div#home-content__tagline {
    margin-top: 1rem;
    p {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1rem;
      margin-bottom: 0.5rem;

    }
  }

  div#home-content__body {
    margin-top: 3rem;      // vertically align icons with the text
    i.fab, i.fa {
      display: block;
      text-align: center;
    }
  }
}


@media screen and (min-device-width: $grid-tablet-breakpoint) and (max-device-width: $grid-desktop-breakpoint) {
  div#home-content {
    margin-top: 2rem;
  }
}

@media screen and (max-device-width: $grid-tablet-breakpoint) {
  div#home-content {
    h1 {
      font-size: 4rem;
      text-align: center;
      line-height: 4rem;
    }
    div#home-content__tagline {
      p {
        text-align: center;
        line-height: 1.1rem;
      }
    }
    div#home-content__body {
      margin-top: 1rem;      
      text-align: center;

      div.mdl-grid {
        justify-content: center;
      }
    }
  }
}