p Hey there! I'm Andrew and I'm a software engineer at IBM. I have a BS in Computer Engineering from University of Maryland, College Park. 
p My background has primarily been building for the web, but I've had the fortune to dabble in networking, security, operating systems, embedded devices, AI, Computer Vision, design - the list goes on and on. I love technology and I 
  | love learning - if there's something I don't know, I'll happily go down a deep Google rabbit hole to learn more.
p I believe heavily in the people aspect of technology - from communicating ideas clearly on the whiteboard amongst team members to listening and adapting to the customer's needs and demands to produce quality, well functioning software to deliver to the end user.
p I've been fortunate to work with extremely talented mentors and peers who have taught me so much and I'm always looking to pay it forward by helping others wherever I can. I enjoy teaching and mentoring - I currently volunteer as a mentor at Hackbright Academy, helping students 1:1 with course curriculum, 
  | tips and tricks for interviews and navigating the technology world, as well as provide overall moral support. In the past I have unofficially and officially taught others in everything from Karate to Computer Science. 
p My goal is to combine my love for tech with my love for helping others - by applying technology to solve problems that plague our world. I'm driven by a desire to solve problems that matter and to leave a place better than I found it. I'm always on the lookout for a new challenge.
p Want to get in touch? You can find me #[a(id='aboutContact',href='./dist/html/contact.html') here].
