p Hey there! My name's Andrew Gu, or if you prefer my legal name (as many of my friends do), Mingbo Gu. 
p I'm currently a student at the University of Maryland, College Park studying Computer Engineering and expected to graduate in May of 2018. 
//- p I've been fascinated by computers and technology since I was a little kid. I began seriously programming as a freshmen in high school, and since then
//-   | I've been graciously given opportunities to work in numerous companies and to learn from and work with many talented individuals. Most of my work has
//-   |  been primarily web based (for #[a(target='_blank', href='http://www.mywebroom.com/') MyWebRoom], #[a(target='_blank', href='http://fusion-ventures.com/') Fusion Ventures], #[a(target='_blank', href='http://www.app-cow.com/') AppCow],
//-   |  #[a(target='_blank', href='http://www.fiscalnote.com') FiscalNote], #[a(target='_blank', href='http://www.maxgigapop.net/') Mid-Atlantic Crossroads], and most recently for #[a(target='_blank', href='https://www.ibm.com/us-en/') IBM]), ranging from building beautiful interfaces using MVC frameworks to building APIs, mobile apps, and various other applications in
//-   |  Node.js, Ruby on Rails, PHP, and Python. I was also recently given the chance to work on a controls system for our university's linear accelerator, letting me try my hand at C++ and ROOT.
p I've been fascinated by computers and technology since I was a little kid. I began programming in high school and since then, I've been fortunate enough to work on a variety of applications for companies and research labs of varying sizes. I've worked on building full scale web and mobile apps for startups and huge corporations to a controls system for our university's linear accelerator (shattering every misconception I had about nuclear reactors). 
p I love learning about and working with anything technology related. My interests include machine learning, systems programming, web development,
  | security, embedded devices, the crossroad between Physics and computer science, and whatever else I come across. I often find myself going down very deep rabbit holes, going from link to link as I learn more about something I don't know.
p When I'm not coding or trying to complete the endless amounts of homework, you can usually find me cooking (great excuse to procrastinate), drinking unhealthy amounts of bubble tea,
  | binge watching Youtube videos (gotta love that Wong Fu and JK Films), or just simply hanging out with friends. I'm also an avid martial artist - I received my 1st degree black belt
  | in Shotokan Karate from Jim Mather at the California Karate Academy.
p Want to get in touch? You can find me #[a(id='aboutContact',href='./dist/html/contact.html') here].
