p 	Hey there! My name's Andrew Gu, or if you prefer my legal name (as many of my friends do), Mingbo Gu. At one point in time, I had a fancy
  | parallax website with a lot of pretty colors, but unfortunately I haven't had the time to keep up with it. I opted to go for the more minimalistic
  | simple approach - it was less time consuming to build and would be easier to update in the future.
p I'm currently a student at the University of Maryland, College Park studying Computer Engineering and expected to graduate in December of 2017.
p I've been fascinated by computers and technology since I was a little kid. I began seriously programming as a freshmen in high school, and since then
  | I've been graciously given opportunities to work in numerous companies and to learn from and work with many talented individuals. Most of my work has
  |  been primarily web based (for #[a(target='_blank', href='http://www.mywebroom.com/') MyWebRoom], #[a(target='_blank', href='http://fusion-ventures.com/') Fusion Ventures], #[a(target='_blank', href='http://www.app-cow.com/') AppCow],
  |  #[a(target='_blank', href='http://www.fiscalnote.com') FiscalNote], and the #[a(target='_blank', href='http://www.maxgigapop.net/') Mid-Atlantic Crossroads]), ranging from building beautiful interfaces using MVC frameworks to building API's and various other applications in
  |  Node.js, Ruby on Rails, and PHP. I was also recently given the chance to work on a controls system for our university's linear accelerator, letting me try my hand at C++ and ROOT.
p I love learning about and working with anything technology related. My interests include databases and data mining, networking, systems programming,
  | security, embedded devices, and the crossroad between Physics and computer science.
p When I'm not coding or trying to complete the endless amounts of homework, you can usually find me cooking (great excuse to procrastinate), drinking unhealthy amounts of bubble tea,
  | binge watching Youtube videos (gotta love that Wong Fu and JK Films), or just simply hanging out with friends. I'm also an avid martial artist - I received my 1st degree black belt
  | in Shotokan Karate from Jim Mather at the California Karate Academy.
p Want to get in touch? You can find me #[a(id='aboutContact',href='./dist/html/contact.html') here].
