p#contact_links
	span Want to get in touch? You can find me on:
	br
	a(href='mailto:andrew@mingbogu.com') Email
	br
	a(href='https://github.com/andrewgu12/') Github
	br
	a(href='https://www.linkedin.com/in/andrew-mingbo-gu-72095944') LinkedIn
	br
	a(href='https://www.facebook.com/andrewgu12') Facebook
